*{margin: 0;padding: 0;box-sizing: border-box;}
li {list-style: none;}
@keyframes bgMove{
	0% {transform: scale(1);filter: blur(1px);}
	50% {transform: scale(1.1);filter: blur(5px);}
	100% {transform: scale(1);filter: blur(3px);}
}
.content {
	width: 100%;
	/* overflow: hidden; */
}
.c-container {
	width: 100%;
}
.h100 {
	height: 100vh;
}
.section1 {
	width: 100%;
	overflow: hidden;
}
.section1 .bg {
	width: 100%;
	height: 100vh;
	position: relative;
	overflow: hidden;
}
.section1 .bg li {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	background-size: cover;
	opacity: 0;
	transition: all 5s;
}
.section1 .bg li.show {
	opacity: 1;
	filter: blur(3px);
	animation: bgMove 5s;
}
.section1 .bg li:nth-of-type(1) {
	background-image: url(../img/bg1.jpg);
}
.section1 .bg li:nth-of-type(2) {
	background-image: url(../img/bg2.jpg);
}
.section1 .bg li:nth-of-type(3) {
	background-image: url(../img/bg3.jpg);
}
.section1 .bg li:nth-of-type(4) {
	background-image: url(../img/bg4.jpg);
}
.section1 .myInfo {
	position: absolute;
	left: 0;
	top: 0;
	padding-top: 35vh;
	text-align: center;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.1);
	color: #fff;
}

@keyframes myInfo{
	from{transform: translateY(290px);}
	to{transform: translateY(0px);}
}
.section1 .myInfo h1 {
	font-size: 70px;
	font-weight: 400;
	margin: 50px 0 30px;
	animation: myInfo 1s;
}
.section1 .myInfo h3 {
	font-size: 30px;
    margin: 40px 0;
		animation: myInfo 1s;
}

.section1 .myInfo span {
	display: inline-block;
	width: 150px;
	height: 50px;
	line-height: 48px;
	border: 1px solid;
	margin: 3px;
	border-radius: 3px;
	cursor: pointer;
	animation: myInfo 1s;
}
.section1 .myInfo .adMe {
	background: #2c3e50;
	color: #fff;
}
.section2 {
	padding-top: 80px;
	position: relative;
}
.section2 .navbar {
	position: absolute;
	top: 0;
	left: 0;
	height: 80px;
	width: 100%;
	background: #2c3e50;
	z-index: 999;
}
.section2 .navbar .navcontent {
	width: 1200px;
	margin: 0 auto;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.section2 .navbar .navcontent a {
	color: #fff;
	text-decoration: none;
	padding-left: 15px;
}
.section2 .navbar .navcontent .ul-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}
.section2 .navbar .navcontent .ul-nav li {
	margin: 0 20px;
	color: #fff;
}
.section2 .navbar .navcontent .ul-nav li:hover {
	cursor: pointer;
	color: #E87E04;
}
.section2 .navbar .navcontent .ul-nav li.active {
	color: #E87E04;
}
.section2 .navbar .navcontent .nav-icon {
	display: none;
}
.fixed {
	position: fixed;
}
.section2 .meContent {
	height: 60vh;
	background-color: #fff;
	padding-top: 80px;
}
.section2.active .move {
	opacity: 1;
	transform: translateY(0);
}
.section2 .move {
	transition: all 1s;
	opacity: 0;
	transform: translateY(100px);
}
.center {
	text-align: center;
}
.section2 .meContent h2 {
	margin-bottom: 20px;
}
.meContent hr {
	width: 30px;
	height: 3px;
	background: #E87E04;
	margin: 0 auto;
	margin-bottom: 40px;
	border: none;
	opacity: 0;
}
.section2.active .meContent hr {
	width: 80px;
	opacity: 1;
	transition: all 1s;
}
.meContent img {
	width: 40%;
	max-width: 200px;
	border-radius: 50%;
}
.meContent .text {
	max-width: 850px;
	font-size: 14px;
	margin: 0 auto;
	padding: 2em 0 0;
	text-indent: 2em;
}

.section3 {
	padding-top: 160px;
	background-image: url(../img/bg2.jpg);
	background-attachment: fixed;
}
.section3 h2 {
	text-align: center;
	margin-bottom: 15px;
}
.section3 hr {
	border: none;
	background: #E87E04;
	height: 3px;
	width: 30px;
	margin: 0 auto;
	opacity: 0;
}
.section3 .container{
	width: 1200px;
	margin: 150px auto;
	display: flex;
	opacity: 0;
	transform: translateY(100px);
	transition: all 1s;
}
.section3 hr,
.section4 hr,
.section5 hr,
.section6 hr{
	opacity: 0;
	transition: all 1s;
}
.section3.active hr,
.section4.active hr,
.section5.active hr,
.section6.active hr{
	opacity: 1;
	width: 80px;
}
.section3 .container,
.section4 .container,
.section5 .container,
.section6 .container{
	opacity: 0;
	transform: translateY(100px);
	transition: all 1s;
}
.section3.active .container,
.section4.active .container,
.section5.active .container,
.section6.active .container{
	opacity: 1;
	transform: translateY(0px);
}
.section3 .container .w25 {
	width: 25%;
}
.section3 .container .item {
	text-align: center;
	font-size: 14px;
}
.section3 .container .ptitle {
	color: #E87E04;
	margin: 2em 0 1em;
	font-size: 16px;
	margin: 10px 0;
}


.section4 {
	padding-top: 160px;
	background: #fff;
}
.section4 h2 {
	text-align: center;
	margin-bottom: 15px;
}
.section4 hr {
	border: none;
	background: #E87E04;
	height: 3px;
	width: 30px;
	margin: 0 auto;
}
.section4 .desc {
	width: 1200px;
	margin: 30px auto;
	text-align: center;
}
.section4 .container{
	width: 1200px;
	margin: 30px auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.section4 .container .w25 {
	width: 23%;
}
.section4 .container .item {
	position: relative;
	text-align: center;
	font-size: 14px;
	transition: all 1s;
	margin-bottom: 20px;
}
.section4 .container .item>img {
	width: 100%;
}
.section4 .container .item a {
	text-decoration: none;
	padding: 40px;
	color: #fff;
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: absolute;
	background-color: rgba(0,0,0,.5);
	top: 0;
	left: 0;
	opacity: 0;
	transition: all 1s;
}
.section4 .container .item a p {
	margin: 5px 0;
}
.section4 .container .item:hover a {
	opacity: 1;
}
.section4 .container .item:hover {
	transform: scale(1.1);
}


.section5 {
	padding-top: 160px;
	background-image: url(../img/bg1.jpg);
	background-attachment: fixed;
}
.section5 h2 {
	text-align: center;
	margin-bottom: 15px;
}
.section5 hr {
	border: none;
	background: #E87E04;
	height: 3px;
	width: 30px;
	margin: 0 auto;
}
.section5 .container {
	width: 1200px;
	margin: 150px auto 0;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.section5 .container .w25 {
	width: 25%;
}
.section5 .wrap-box {
	position: relative;
	width: 140px;
	height: 140px;
	background: #ddd;
	border-radius: 50%;
	margin: 0 auto;
	overflow: hidden;
}
.section5 .wrap-box .circle-wrap {
	border: 10px solid #ddd;
	width: 140px;
	height: 140px;
	border-radius: 50%;
	position: absolute;
}
.section5 .wrap-box .circle-wrap .percent{
	border: 10px solid black;
	width: 140px;
	height: 140px;
	border-radius: 50%;
	position: absolute;
	top: -10px;
	left: -10px;
}
.section5 .wrap-box .circle-wrap .left-clip{
	clip: rect(0 70px 140px 0);
	transform: rotate(180deg);
	transition: all 1s;
}
.section5.active .wrap-box .circle-wrap .left-clip.r90 {
	transform: rotate(324deg);
}
.section5.active .wrap-box .circle-wrap .left-clip.r80 {
	transform: rotate(288deg);
}
.section5.active .wrap-box .circle-wrap .left-clip.r85 {
	transform: rotate(306deg);
}
.section5.active .wrap-box .circle-wrap .right-clip{
	clip: rect(0 140px 140px 70px);
}
.section5 .circle-num {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	background: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	text-align: center;
	line-height: 120px;
}
.section5 .ptitle {
	color: #E87E04;
	margin: 20px;
	text-align: center;
}

.section6 {
	padding-top: 160px;
	background: #fafafa;
}
.section6 h2 {
	text-align: center;
	margin-bottom: 15px;
}
.section6 hr {
	border: none;
	background: #E87E04;
	height: 3px;
	width: 30px;
	margin: 0 auto;
}

.section6 .container {
	width: 1200px;
	margin: 150px auto 0;
}
.section6 .container .myjl {
	width: 100%;
}
.section6 ul li {
	height: 140px;
	width: 100%;
	position: relative;
}
.section6 ul li:not(:last-child) {
	margin-bottom: 100px;
}
.section6 ul li:not(:last-child)::after {
	content: '';
	display: block;
	position: absolute;
	top: 140px;
	left: 50%;
	width: 1px;
	height: 100px;
	background: #eee;
}
.section6 .data-box {
	width: 140px;
	height: 140px;
	border-radius: 50%;
	border: 1px solid #eee;
	background: #fff;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	padding: 15px 0;
	font-weight: 600;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}
.section6 .my-work {
	width: calc(50% - 80px);
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 140px;
	font-size: 14px;
}
.section6 .my-work.left {
	text-align: right;
	left: 0;
}
.section6 .my-work.right {
	text-align: left;
	right: 0;
}
.section6 .my-work .ptitle {
	color: #E87E04;
	font-size: 18px;
	font-weight: 600;
}
.section6 .my-work p {
	font-size: 14px;
}

@media screen and (max-width:412px) {
	.section1 .myInfo {
		padding-top: 10vh;
	}
	.section1 .myInfo h3 {
		font-size: 24px;
	}
	.section2 .navbar .navcontent {
		width: 100%;
	}
	.section2 .navbar .navcontent .ul-nav {
		display: none;
	}
	.section2 .navbar .navcontent .nav-icon {
		display: block;
	}
	.section2 .navbar .nav-icon .navM {
		position: absolute;
		top: 80px;
		left: 0;
		width: 100%;
		height: 0;
		background-color: #fff;
		overflow: hidden;
		opacity: 0;
		transition: all 1s;
	}
	.section2 .navbar .nav-icon.active .navM {
		height: 200px;
		opacity: 1;
	}
	.section2 .navbar .nav-icon .navM  .nav-list {
		height: 40px;
		text-align: center;
		line-height: 40px;
		box-shadow: 0 0 1px 0 rgba(0,0,0,.1);
	}
	.section2 .navbar .nav-icon .navM  .nav-list.active {
		color: #E87E04;
	}
	.section2 .move {
		padding: 0 10px;
	}
	.section3 .container {
		width: 100%;
		margin: 20px auto;
		flex-wrap: wrap;
	}
	.section3 .container .w50 {
		width: 50%;
	}
	.section4 {
		padding-top: 110px;
		min-height: 155vh;
	}
	.section4 .desc {
		width: 100%;
		padding: 0 10px;
	}
	.section4 .container {
		width: 100%;
	}
	.section4 .container .w50 {
		width: 46%;
	}
	.section4 .container .item a {
		opacity: 1;
		padding: 10px;
	}
	.section4 .container .item a img {
		width: 25px;
	}
	.section4 .container .item:hover a {
		transform: scale(1);
	}
	.section5,.section3,.section6 {
		padding-top: 110px;
	}
	.section5 .container {
		width: 100%;
		flex-wrap: wrap;
		margin: 20px auto 0;
	}
	.section5 .container .w50 {
		width: 50%;
	}
	.section6 {
		height: 105vh;
	}
	.section6 .container {
		width: 100%;
		margin: 20px auto 0;
	}
	.section6 .container .myjl {
		padding: 10px;
	}
	.section6 ul li {
		height: 250px;
	}
	.section6 ul li:not(:last-child) {
		margin-bottom: 0;
	}
	.section6 .data-box {
		width: 100px;
		height: 100px;
		left: 0;
		transform: translateX(0);
	}
	.section6 .my-work.left,.section6 .my-work.right {
		left: 70px;
		width: calc(100% - 75px);
		text-align: left;
		top: 110px;
	}
	.section6 ul li:not(:last-child)::after {
		top: 100px;
		left: 50px;
		width: 1px;
		height: 150px;
		background: #eee;
	}
	.section6 ul li:last-child::after{
		content: '';
		display: block;
		position: absolute;
		top: 100px;
		left: 50px;
		width: 1px;
		height: 150px;
		background: #eee;
	}
}